<section id="detailsPage">
    <div id="detailsInfo">
        <h1>{{electronicData.name}}</h1>
        <div class="info"><img src="{{electronicData.image}}"></div>

        <div class="info">
            <h3>Type: {{electronicData.type}}</h3>
            <h3>Year of Production: {{electronicData.production}}</h3>
            <h3>Years of Exploitation: {{electronicData.exploitation}}</h3>
            <h3>Damages: {{electronicData.damages}}</h3>
            <h3>Description: {{electronicData.description}}</h3>
            <h2>Price: ${{electronicData.price}}</h2>
        </div>

        <!--If there is user logged in-->
        {{#if isAuthenticated}}
        <div class="buttons">
            {{#if isOwner}}
            <a href="/electronics/{{electronicData._id}}/edit" class="edit-btn">Edit</a>
            <a href="/electronics/{{electronicData._id}}/delete" class="delete-btn">Delete</a>
            {{else}}
                {{#if hasBought}}
                <p><span class="buy">Thank You For Your Purchase</span></p>
                {{else}}
                <!--If user is not owner of the toy post-->
                <a href="/electronics/{{electronicData._id}}/buy" class="buy-btn">Buy</a>
                {{/if}}
            {{/if}}
        </div>
        {{/if}}
    </div>
</section>